.btn-enterA {
  border-style: none;
  padding: 15px;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
  margin-bottom: 10px;
}

.formLogin-content {
  height: 89%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.formAuth-login {
  padding: 20px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    padding: 15px;
    width: 88%;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
}

.enterA {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 20px;

  .linkA {
    font-weight: bold;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .btn-enterA {
    padding: 10px;
  }

  .formAuth-login {
    padding: 17px;

    input {
      padding: 13px;
      width: 87%;
    }
  }
}

@media (max-width: 792px) {
  .formAuth-login {
    padding: 15px;

    input {
      padding: 12px;
      width: 87%;
    }
  }
}

@media (max-width: 764px) {
  .formAuth-login {
    padding: 5px;
    text-align: center;
    height: 60%;
  }
  
  .btn-enterA {
    width: 92%;
  }

  .formLogin-content {
    height: 90%;
  }

}

@media (max-width: 660px) {
  .formLogin-content {
    height: 85%;
  }

  .formAuth-login {
    height: 65%;
  }
}
