.formSocial-div {
  text-align: center;
  padding: 20px;

  p {
    color: #000;
    font-size: 1.4rem;
  }
}

.social-icon {
  padding: 12px;
  margin: 10px;
  color: #bfbfbf;
  border-radius: 5px;
  background: none;
  border: 1px solid;
  cursor: pointer;
  outline: none;
}

.iconfb {
  padding: 12px 14px;
}

@media (max-width: 764px) {
  .formSocial-div {
    padding: 5px;
  }
}

@media (max-width: 660px) {
  .formSocial-div {
    padding: 20px;
  }
}
