@import 'mixings';
.view-credit-card h2 {
    /* Box-model */
    margin-bottom: 15px;
    margin-right: 20px;
    /*Tipografía*/
    font-family: 'Poppins';
    color: #222222;
    font-size: 1.4rem;
    font-weight: bold;
    
  }
.view-credit-card section{
    margin-bottom: 15px;
      /* xs resolution */
  }
.view-credit-card input {
    /* Box-model */
    padding: 10px 10px;
    border-radius: 4px;
    margin: 0 0px 20px 0;
    border-color:darkgrey;


    /*Tipografía*/
    font-family: 'roboto';
    font-size: 1.1rem;
    font-weight: bold;
  }

.view-credit-card button{
    width: 97%;
    padding: 15px 0;
  }
.view-credit-card p,
  .card-container-number input{
    color: red;
    font-weight: bold;
  }
  .id-container,
  .card-container,
  .button-container,
  .card-container1,
  .card-container-number {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-column-gap: 10px;
  } 
  .card-container-date,
  .quotas {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30px, 1fr));
    grid-column-gap: 20px;
  }
  .quotas button{
    margin: 0 40px 10px 0;
    width: 100%; 
    border-radius: 10px;  
    background-color:rgb(223, 219, 219);
    border: darkgrey;
    color: #000425;
    font-weight: bold;
    
    &:hover{
    background-color:#5640ff;
    color: white; 
    }
  }
  .active{
    background-color:#5640ff; 
    color: white; 
  }
